@page "/EventCalendar"
<PageTitle>EventCalendar</PageTitle>

<h1>Event Calendar</h1>
     <div>
         <button class="btn btn-primary" @onclick="CreateEvent_Clicked" hidden="@CreateEvent_Visible">
             Event Erstellen
         </button>
         <div>
             <div id="CreateEvent" hidden="@CreateEvent_Hidden">
                <CreateEvent></CreateEvent>
             </div>
         </div>
     </div>

@code {
    private bool CreateEvent_Visible { get; set; } = false;
    private bool CreateEvent_Hidden { get => !CreateEvent_Visible; }
    private void CreateEvent_Clicked()
    {
        CreateEvent_Visible = true;

    }

}
